h1, h2, h3, h4, h5, p, a {
    color: #111;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
}

h1 { font-size: 5em; font-weight: 100; }
h2 { font-size: 4em; font-weight: 100; }
h3 { font-size: 3em; font-weight: 100; }
h4 { font-size: 2em; font-weight: 100; }
h5 { font-size: 1.5em; font-weight: 100; }
p  { font-size: 1em; }

.container {
    position: relative;
    margin: auto;
    /*max-width: 1024px;*/
    padding: 20px 0px;
    text-align: center;

    margin-top: 30px;
    padding: 5px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
}

.screen-shot-container {
    position: relative;
    margin: auto;
    max-width: 1024px;
    padding: 20px 0px;
    text-align: center;
}

#header {
    padding-top: 0px;
    margin-top: 0px;
}

#footer {
    border: none; 
}

.blurbs {
    display: block;
    text-align: center;
}

.blurb {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    max-width: 320px;
    margin: 20px;
    /*border: 1px solid gray;*/
}

img {    
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.5);
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

img.webstore-link-bottom {    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    margin-top: 30px;
    margin-bottom: 30px;
}

img.webstore-link-top {    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    margin-top: 30px;
    margin-bottom: 0px;
}

#banner {
    width: 100%;
    margin-top: 30px; 
    margin-bottom: 30px; 
    position: relative;
}

#banner-title {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 40px;
}

#banner-subtitle {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-bottom: 40px;
}

.plain-link {
    color: #111;
    text-decoration: underline;
}

.plain-link:visisted {
    color: #111;
}

.section-container {
  display: table;
  margin: auto;
  max-width: 1024px;
  padding: 40px 0;
  position: relative;
  width: 100%;
}

.section-container.footer {
  border-top: 1px solid #ccc;
}

.section-container.footer p {
  color: #aaa;
  font-size: 14px;
  text-align: center;
}

.section-container.footer a:visited,
.section-container.footer a:hover
.section-container.footer a {
  color: #aaa;
  text-decoration: underline;
} 